*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculadora{
    width: 400px;
    height: 600px;
    background-color: #615756;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 140px repeat(6, 80px);
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    border: 3px black solid;
}

.calculadora button{
    font-size: 1.5rem;
    background-color: cadetblue;
    border-radius: 50%;
    border: 2px black solid;
    margin: 2px;
}

.calculadora button:hover{
    background-color:silver;
}

.display{
    height: 120px;
    background-color:cadetblue;
    opacity: .7;
    grid-column: 1/-1;
    border: 3px black solid;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: end;
}

.span2{
    grid-column: span 2;
}

.valor-superior{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.valor-inferior{
    color: white;
    font-size: 2rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
